
a{
  color: black;
}.contact-us20 {
  position: absolute;
  top: 0;
  left: 503px;
}
.about-us29,
.p8 {
  margin: 0;
}
.about-us28 {
  position: absolute;
  top: 0;
  left: 319px;
  display: inline-block;
  width: 120px;
  height: 45px;
}
.account8,
.shop18 {
  position: absolute;
  top: 0;
  left: 705px;
}
.shop18 {
  left: 151px;
  display: inline-block;
  width: 104px;
  height: 45px;
}
.contact-us-parent6,
.home8 {
  position: absolute;
  height: 47px;
}
.home8 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 87px;
}
.contact-us-parent6 {
  top: 100px;
  left: 420px;
  width: 817px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-abhaya-libre-extrabold);
}
.search-icon8,
.shopping-cart-icon8,
.user-icon8 {
  position: absolute;
  top: 0.8px;
  left: 69.4px;
  width: 38.9px;
  height: 54.7px;
  object-fit: cover;
}
.search-icon8,
.user-icon8 {
  top: 2.3px;
  left: 0;
}
.user-icon8 {
  top: 0;
  left: 140.5px;
}
.shopping-cart-parent4 {
  position: absolute;
  top: 95px;
  left: 1298px;
  width: 179.3px;
  height: 57px;
}
.organico-wrapper5,
.organico21 {
  position: absolute;
  width: 229px;
  height: 62.3px;
}
.organico21 {
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  background: linear-gradient(94.99deg, #bae0bd, #90c397);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-shadow: 0 4px 40.6px rgba(0, 0, 0, 0.25);
}
.organico-wrapper5 {
  top: 85px;
  left: 153px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-adamina);
}
.healthy-food-icon8 {
  position: absolute;
  top: 75px;
  left: 63px;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.group-child51 {
  position: absolute;
  top: 160px;
  left: 0;
  border-radius: var(--br-41xl);
  background-color: var(--color-gainsboro);
  width: 1536px;
  height: 764px;
}
.div30,
.follow-us10 {
  position: absolute;
  top: 211px;
  left: 611px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-family: var(--font-adamina);
}
.div30 {
  top: 261px;
  left: 270px;
}
.facebook-icon10,
.headphones-icon10 {
  position: absolute;
  top: 204px;
  left: 149px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.facebook-icon10 {
  top: 1px;
  left: 40px;
  width: 46px;
  height: 46px;
}
.instagram-icon10,
.twitter-icon10,
.youtube-icon10 {
  position: absolute;
  top: 0;
  left: 84px;
  width: 54px;
  height: 50px;
  object-fit: cover;
}
.instagram-icon10,
.twitter-icon10 {
  top: 6px;
  left: 138px;
  width: 38px;
  height: 38px;
}
.twitter-icon10 {
  top: 4px;
  left: 0;
  width: 40px;
  height: 40px;
}
.facebook-parent8 {
  position: absolute;
  top: 254px;
  left: 611px;
  width: 176px;
  height: 50px;
}
.contact-us21,
.div31 {
  position: absolute;
  top: 211px;
  left: 270px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-family: var(--font-adamina);
  display: inline-block;
  width: 146px;
  height: 31px;
}
.div31 {
  left: 421px;
  color: var(--color-darkseagreen-400);
  width: 76px;
  height: 47px;
}
.group-child52 {
  position: absolute;
  top: 355px;
  left: 121px;
  max-height: 100%;
  width: 1295px;
}
.group-child53,
.group-child54 {
  position: absolute;
  box-sizing: border-box;
}
.group-child53 {
  top: 391.5px;
  left: 1001.5px;
  border-right: 5px solid var(--color-darkseagreen-400);
  width: 5px;
  height: 284px;
}
.group-child54 {
  top: 709.5px;
  left: 118.5px;
  border-top: 5px solid var(--color-darkseagreen-400);
  width: 1300px;
  height: 5px;
}
.organico22,
.span11 {
  color: var(--color-darkseagreen-400);
}
.copyright-2024-container10 {
  position: absolute;
  top: 726px;
  left: 586px;
  font-size: var(--font-size-xl);
}
.green-lake-drive10,
.store-location10 {
  position: absolute;
  left: 149px;
  display: inline-block;
}
.store-location10 {
  top: 436px;
  font-size: var(--body-medium-body-medium-600-size);
  color: var(--white);
  width: 142px;
  height: 22px;
}
.green-lake-drive10 {
  top: 476px;
  width: 213px;
}
.contactexamplecom10 {
  position: relative;
}
.contactexamplecom-wrapper8 {
  position: absolute;
  top: 536px;
  left: 149px;
  border-bottom: 1px solid var(--color-darkseagreen-400);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.information10 {
  position: absolute;
  top: 436px;
  left: 448px;
  font-size: var(--body-medium-body-medium-600-size);
  color: var(--white);
}
.about-us30,
.contact20,
.service10 {
  position: absolute;
  top: 476px;
  left: 448px;
}
.contact20,
.service10 {
  top: 504px;
}
.service10 {
  top: 532px;
}
.my-account20,
.my-account21 {
  position: absolute;
  top: 477px;
  left: 646px;
}
.my-account21 {
  top: 436px;
  font-size: var(--body-medium-body-medium-600-size);
  color: var(--white);
}
.cart11 {
  position: absolute;
  top: 588px;
  left: 448px;
}
.check-out10,
.login12,
.shop19 {
  position: absolute;
  top: 560px;
  left: 448px;
}
.login12,
.shop19 {
  left: 646px;
}
.login12 {
  top: 588px;
}
.categories10,
.contact21,
.shopping-cart10 {
  position: absolute;
  top: 532px;
  left: 646px;
}
.categories10,
.contact21 {
  top: 504px;
}
.categories10 {
  top: 436px;
  left: 836px;
  font-size: var(--body-medium-body-medium-600-size);
  color: var(--white);
}
.fruits10,
.vegetables10 {
  position: absolute;
  top: 477px;
  left: 836px;
}
.fruits10 {
  top: 504px;
}
.of-worth-2500010,
.sign-up-and10 {
  margin: 0;
}
.sign-up-and-container10,
.subscribe-us10 {
  position: absolute;
  top: 510px;
  left: 1137px;
  font-size: var(--body-medium-body-medium-600-size);
}
.subscribe-us10 {
  top: 439px;
  color: var(--white);
}
.email-address10,
.frame-child45 {
  position: relative;
}
.frame-child45 {
  width: 14px;
  max-height: 100%;
}
.email-address-parent8 {
  position: absolute;
  top: 568px;
  left: 1125px;
  border-radius: var(--br-213xl);
  background-color: var(--white);
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-111xl);
}
.frame-icon9,
.group-icon51 {
  width: 102px;
  position: relative;
  height: 70px;
}
.frame-icon9 {
  width: 128px;
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
}
.group-icon52,
.group-icon53 {
  width: 132px;
  position: relative;
  height: 66px;
}
.group-icon53 {
  width: 119px;
  height: 88px;
}
.group-icon54,
.group-icon55 {
  width: 106px;
  position: relative;
  height: 77.1px;
}
.group-icon55 {
  width: 106.1px;
  height: 77px;
}
.group-parent7 {
  position: absolute;
  top: 5px;
  left: 34px;
  width: 1468px;
  height: 182px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 0.3;
}
.group-child55,
.group-child56 {
  position: absolute;
  top: 7.5px;
  left: 117.5px;
  border-top: 5px solid var(--color-darkseagreen-400);
  box-sizing: border-box;
  width: 1300px;
  height: 5px;
}
.group-child56 {
  top: -2.5px;
}
.rectangle-parent37 {
  position: absolute;
  top: 1584px;
  left: 0;
  width: 1536px;
  height: 924px;
  font-size: var(--font-size-xs);
  font-family: var(--font-nunito);
}
.rectangle21 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-goldenrod-100);
  width: 375px;
  height: 518px;
}
.banana2 {
  position: absolute;
  top: 88px;
  left: 24px;
  letter-spacing: -1.1px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 222px;
  height: 54px;
}
.oval-icon21,
.wrapper-oval21 {
  position: absolute;
  mix-blend-mode: normal;
}
.oval-icon21 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 0;
  transform: scale(2.432);
}
.wrapper-oval21 {
  top: 393px;
  left: 68px;
  width: 239px;
  height: 38px;
  opacity: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bitmap-icon4,
.uppermainblock2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 518px;
}
.bitmap-icon4 {
  top: 164.8px;
  left: 39.7px;
  width: 289.6px;
  height: 242.3px;
  object-fit: contain;
}
.group-child57 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 50px 5px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-41xl);
  background-color: var(--color-goldenrod-200);
  width: 201.2px;
  height: 60.8px;
}
.shop-now20 {
  position: absolute;
  top: 19px;
  left: 31px;
  letter-spacing: 0.25em;
  font-weight: 600;
  display: inline-block;
  width: 139.7px;
  height: 22.8px;
}
.rectangle-parent38 {
  position: absolute;
  top: 431px;
  left: 83px;
  width: 201.2px;
  height: 60.8px;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
}
.banana3,
.product-201 {
  font-size: var(--font-size-25xl);
}
.product-201 {
  position: absolute;
  height: 21.9%;
  width: 24.41%;
  top: 12.01%;
  right: 68.55%;
  bottom: 66.09%;
  left: 7.03%;
  box-shadow: 0 0 33.2px 9px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br-51xl);
  background-color: var(--white);
  overflow: hidden;
  color: var(--white);
  font-family: var(--font-gt-walsheim-pro);
}
.banana3 {
  top: 362px;
  letter-spacing: -1.1px;
  line-height: 36px;
}
.banana3,
.frame-child46,
.organico23 {
  position: absolute;
  left: 633px;
}
.organico23 {
  top: 325px;
  font-size: var(--body-medium-body-medium-600-size);
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--color-gray-200);
  display: inline-block;
  width: 79px;
  height: 22px;
}
.frame-child46 {
  top: 417px;
  width: 340px;
  height: 1px;
  object-fit: contain;
}
.div32 {
  top: 433px;
  left: 633px;
}
.div32,
.div33,
.div34,
.kg3 {
  position: absolute;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.kg3 {
  top: 435px;
  left: 655px;
  font-size: var(--body-medium-body-medium-600-size);
}
.div33,
.div34 {
  top: 476px;
  left: 633px;
}
.div34 {
  left: 764px;
  text-decoration: line-through;
  color: var(--color-gray-200);
}
.svg-icon16 {
  width: 64px;
  position: relative;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.quality4 {
  position: relative;
  line-height: 20px;
}
.heading-38 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-12xs-4);
}
.you-can-trust4 {
  position: relative;
  line-height: 20px;
  font-size: 12px;
  left: 5px;
}
.divbg-silversurfer-10016,
.spantext-darkonyx-4008 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-4);
  font-size: var(--body-medium-body-medium-600-size);
  color: var(--wwwbigbasketcom-scorpion);
}
.divbg-silversurfer-10016 {
  position: absolute;
  top: 949px;
  left: 126px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  width: 264px;
  height: 146.8px;
  align-items: center;
  padding: var(--padding-base) var(--padding-67xl-8);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--wwwbigbasketcom-mine-shaft);
  font-family: var(--font-arial);
}
.svg-icon17 {
  width: 64px;
  position: relative;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
}
.on-time4 {
  position: relative;
  line-height: 20px;
}
.heading-39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-12xs-4);
}
.guarantee4 {
  position: relative;
  line-height: 20px;
  font-size: 12px;
  left: 5px;
}
.divbg-silversurfer-10017,
.spantext-darkonyx-4009 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-4);
  font-size: var(--body-medium-body-medium-600-size);
  color: var(--wwwbigbasketcom-scorpion);
}
.divbg-silversurfer-10017 {
  position: absolute;
  top: 949px;
  left: 466px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  width: 264px;
  height: 146.8px;
  align-items: center;
  padding: var(--padding-base) var(--padding-76xl-1) var(--padding-base)
    var(--padding-76xl);
  box-sizing: border-box;
  font-size: var(--font-size-base-3);
  color: var(--wwwbigbasketcom-mine-shaft);
  font-family: var(--font-arial);
}
.svg-icon18 {
  width: 64px;
  position: relative;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.free4 {
  position: relative;
  line-height: 20px;
}
.heading-310 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-12xs-4);
}
.delivery4 {
  position: relative;
  line-height: 20px;
  font-size: 12px;
  left: 5px;
}
.divbg-silversurfer-10018,
.spantext-darkonyx-40010 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-4);
  font-size: var(--body-medium-body-medium-600-size);
  color: var(--wwwbigbasketcom-scorpion);
}
.divbg-silversurfer-10018 {
  position: absolute;
  top: 949px;
  left: 806px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  width: 264px;
  height: 146.8px;
  align-items: center;
  padding: var(--padding-base) var(--padding-81xl);
  box-sizing: border-box;
  font-size: var(--font-size-base-4);
  color: var(--wwwbigbasketcom-mine-shaft);
  font-family: var(--font-arial);
}
.svg-icon19 {
  width: 64px;
  position: relative;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.return-policy4 {
  position: relative;
  line-height: 20px;
}
.heading-311 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-12xs-4);
}
.no-question-asked4 {
  position: relative;
  line-height: 20px;
  font-size: 12px;
  left: 5px;
}
.divbg-silversurfer-10019,
.spantext-darkonyx-40011 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-4);
  font-size: var(--body-medium-body-medium-600-size);
  color: var(--wwwbigbasketcom-scorpion);
}
.divbg-silversurfer-10019 {
  position: absolute;
  top: 949px;
  left: 1146px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  width: 264px;
  height: 146.8px;
  align-items: center;
  padding: var(--padding-base) var(--padding-45xl-8);
  box-sizing: border-box;
  font-size: var(--font-size-mini-5);
  color: var(--wwwbigbasketcom-mine-shaft);
  font-family: var(--font-arial);
}
.why-choose-organico4 {
  position: absolute;
  top: 886px;
  left: calc(50% - 111px);
  font-size: var(--font-size-xl);
  line-height: 20px;
}
.frame-child47,
.frame-child48 {
  position: absolute;
  top: 690px;
  left: 633px;
  box-shadow: 5px 5px 9.4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-15xl);
  background-color: var(--color-darkseagreen-100);
  width: 246px;
  height: 71px;
}
.frame-child48 {
  left: 942px;
  border-radius: var(--br-29xl);
  width: 257px;
}
.add-to-cart3,
.buy-now3 {
  position: absolute;
  top: 714px;
  left: 1017px;
  font-size: var(--font-size-xl);
  line-height: 20px;
  color: var(--white);
}
.buy-now3 {
  left: 715px;
}
.group-parent6 {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 2365px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-abeezee);
}
